@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat&display=swap');

*{margin: 0;
     padding: 0;}

body{background-color: black
    ;color: #ffffff;
    height: 77vh;}

    

.titulo{color: blue;}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:10%;
}

.texto{ 
    width: 400px;
}

.tamanha1{  
    font-size:400px;
    font-family:'Krona One', sans-serif ;
}

.tamanha2{
    font-size:300px;
    font-size:'Montserrat', sans-serif ;
    
}

img{width: 300px;
    height: 300px; }

.links{
    display: flex;
    justify-content:space-between ;
}

.links2{
    background-color: cornflowerblue;
    text-align: center;
    width: 280px;
    border: radius 16px;
    padding: 21.5 px 0;
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-size:'Montserrat', sans-serif ;
}


