*{margin: 0px;padding: 0px;font-size: 26px;}

body{display: grid;
height: 100vh;
width: 100vw;
gap: 5px;
        
grid-template-areas: 
"a1 a2 a2 a2"
"a1 a3 a4 a5 "
"a1 a3 a4 a6 "
"a1 a7 a7 a7"  
;
}

.a1{background-color: blue;grid-area:a1 ; }
.a2{background-color: burlywood;grid-area: a2;}
.a3{background-color: brown;grid-area: a3;}
.a4{background-color:cadetblue; grid-area: a4;}
.a5{background-color: chartreuse;grid-area: a5;}
.a6{background-color: black;color: azure;grid-area: a6;}
.a7{background-color: aqua;grid-area:a7 ;}