@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
* { margin: 0px; padding: 0px; }
img{height: 388px;
     width: 1200px;
    position: absolute;
    }
    div{width: 1300px;}
    h1{font-family:;}
    body{background-color: #e0d4ba;}

ul{display: flex;
gap: 15px;
align-items:end;
justify-content: right;
}

.lista1{

     list-style-type: none;
}